/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Oswald:wght@300;400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .top-line{
    height: 10px ;
    background-color: #117050;
}

.container{
    max-width: 1140px;;
    margin: auto;
}

.header--area{
    display:flex;
}
/*header--left logo*/