/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Oswald:wght@300;400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .top-line{
    height: 10px ;
    background-color: #117050;
}

/*definindo uma largura max + centralizar conteudo*/
.container{
    max-width: 1140px;;
    margin: auto;
}

.header--area{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;
}
.header--left img{
    width:  64px;
    height: 64px;
}

.header--right{
    display: flex;
    flex-direction: row;
}

.header--search input{
    font-size: 16px;
    padding:7px 10px;
    border: 1px solid #cccccc;
    outline:0;/*tira o efeito auto (border = black) ao clicar no campo input*/
}